# Environment variables
.env

# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Next.js specific
.next/
out/

# Logs
*.log
npm-debug.log*

# Dependency directories
npm/
yarn.lock
package-lock.json

# macOS system files
.DS_Store

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
*~